
.btn, .btn-large, .btn-small {
    background-color:#d2001b;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color:#910013;
}

.container {
    background: white;
}

.dashboard {
    margin-top: 20px;
}

#root > div > div.navbar-fixed > nav > div > div > a.brand-logo > img {
    max-height: 54px;
}