
.btn, .btn-large, .btn-small {
    background-color:#d2001b;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color:#910013;
}

.container {
    background: white;
}

.dashboard {
    margin-top: 20px;
}

img.textadorNavLogo {
    max-height: 48px;
    background:white;
    margin: 5px 10px 5px 5px;
    padding: 5px;
    border-radius: 8px;
    float: left;
}

.card .card-action,
.card .card-content,
.card-content {
    padding: 5px 15px;
}


h5.cardPadding {
    padding: 10px 0px;
    margin: 0px;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer, .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0px !important;
}


#root {
    margin-bottom: 100px !important;
}

